<a href="https://colab.research.google.com/github/kalikalisimsim/googlecolab/blob/main/listindexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **list indexing**

basic positive indexing

In [ ]:
a=["simal","sumi","samu","saam"]
print(a[0])
print(a[1])
print(a[2])
print(a[3])

simal
sumi
samu
saam

Negative Indexing

In [ ]:
print(a[-1])
print(a[-2])
print(a[-3])

saam
samu
sumi

Index inside Loops

In [ ]:
for i in range(len(a)):
  print(i,a[i])

0 simal
1 sumi
2 samu
3 saam

Nested Indexing (Lists inside Lists)

In [ ]:
c=[2,3,[1,2,3]]
print(c[0])
print(c[1])
print(c[2][0])
print(c[2][1])
print(c[2][2])

2
3
1
2
3

In [ ]:
s=[[1,2],2,[1,2,3]]
print(s[0][0])
print(s[0][1])
print(s[1])
print(s[2][0])
print(s[2][1])
print(s[2][2])

1
2
2
1
2
3

Indexing with enumerate()

In [ ]:
w=["apple","orange","kiwi","banana"]
for k,v in enumerate(w):
  print(k,v)

0 apple
1 orange
2 kiwi
3 banana

In [ ]:
v="exile by taylorswift"
for i,j in enumerate(v):
  print(i,j)

0 e
1 x
2 i
3 l
4 e
5
6 b
7 y
8
9 t
10 a
11 y
12 l
13 o
14 r
15 s
16 w
17 i
18 f
19 t

Index Search (.index())

In [ ]:
print(w.index("kiwi"))

2

In [ ]:
print(s.index([1,2]))

0

In [ ]:
nums = [12, 45, 23, 89, 5]
for i in range(len(nums)):
  for j in range(i+1,len(nums)):
    if nums[i]>nums[j]:
      nums[i],nums[j]=nums[j],nums[i]
print(nums[-1])

89

In [ ]:
largest=nums[0] #assuming that largest number is first element
for num in nums:
  if num>largest:
    largest=num
print(largest)

89

In [1]:
q=[1,2,3,4,5]
count=0
for i in q:
  count+=1
print(count)

5

In [13]:
n=(input("enter some words"))
def count(a):
  coun=0
  for i in a:
    coun+=1
  return coun
print(count(n))

enter some wordssimaljaan shamnadh
18

In [26]:
d=[1,2,3,4,5,6]
rev=[]
for i in range(-1,-len(d)-1,-1):
  rev.append(d[i])
print(rev)

[6, 5, 4, 3, 2, 1]

In [65]:
p=["m","a","l","a","y","a","l","a","m"]
is_palindrome=True
for i in range(len(p)//2):
    if p[i]!=p[len(p)-1-i]:
      is_palindrome=False
      break
if is_palindrome:
  print("pali")
else:
  print("not pali")

pali